.no-badge {
    width: 362px;
    height: 26px;
    margin-top: 16px;
    margin-left: 100px;
    background: url('../../profile/img/whysosad.png') no-repeat;
}

.newbie-badger {
    width: 56px;
    height: 58px;
    background: url('../img/newbie-badger.png') no-repeat;
}

.big-bad-badger {
    width: 56px;
    height: 58px;
    background: url('../img/bbb.png') no-repeat;
}

.commitacula {
    width: 56px;
    height: 58px;
    background: url('../img/commitacula.png') no-repeat;
}
