header > h1 {
    text-indent: -99999px;
    background: url('../img/logo.png') 0 0 no-repeat;
    width: 428px;
    height: 112px;
    margin: 63px auto 0;
}

header > h2 {
    text-indent: -99999px;
    background: url('../img/call.png') 0 0 no-repeat;
    width: 722px;
    height: 161px;
    margin: 60px auto;
}
