header .container {
    overflow: hidden;
}

header .photo {
    float: left;
    margin: 40px 34px 0 40px;
    margin-right: 34px;
}

header .photo img {
    width: 160px;
    height: 160px;

    border-radius: 3px;
}

header .profile-data {
    float: left;
    margin: 26px 80px 26px 0;
    padding: 14px 80px 14px 0;
    border-right: solid 1px #d9d9d9;
}

header .profile-data .user {
    overflow: hidden;
    height: 65px;
}

header .profile-data .user .name {
    float: left;
    font-size: 62px;
    font-weight: bold;
    color: #0090bf;
}

header .profile-data .user a {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
    text-indent: -99999px;
    width: 44px;
    height: 44px;
    background: url('../img/favorite.png') 0 0 no-repeat;
}

header .profile-data .user a.active,
header .profile-data .user a:hover {
    background-position: 0 -50px;
}

header .profile-data .email {
    display: block;
    margin-top: 7px;
    font-size: 25px;
    font-weight: bold;
    color: #d9d9d9;
}

header .profile-data .participation {
    margin-top: 15px;
}

header .profile-data .participation .icon {
    float: left;
}

header .profile-data .participation .badges .icon {
    width: 51px;
    height: 51px;
    background: url('../img/badges.png') no-repeat;
    text-indent: -99999px;
}

header .profile-data .participation .data {
    float: left;
    margin-left: 12px;
    font-size: 50px;
    font-weight: bold;
    color: #575757;
}

header .profile-data .participation .repos .icon {
    background: url('../img/repos.png') no-repeat;
    width: 50px;
    height: 50px;
    margin-left: 38px;
    text-indent: -99999px;
}

header .commits {
    float: left;
    margin-top: 52px;
    text-align: center;
}

header .commits .number {
    font-size: 75px;
    font-weight: bold;
    color: #585858;
    margin-bottom: 10px;
}

header .commits .label {
    background: url('../img/processed_commits.png') 0 0 no-repeat;
    width: 148px;
    height: 45px;
    margin: 0 auto;
    text-indent: -99999px;
}

header .commits .changes {
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}

header .commits .changes .additions {
    color: #00a828;
}

header .commits .changes .removals {
    color: #c00000;
}

.badges-section {
    border-top: solid 2px #d9d9d9;
    background-color: #585858;
    border-bottom: solid 2px #d9d9d9;
    padding-bottom: 40px;
}

.badges-section .repos > li {
    overflow: hidden;
    margin-top: 40px;
}

.badges-section .repos .icon {
    float: left;
    background: url('../img/repo-badges.png') no-repeat;
    width: 31px;
    height: 31px;
    margin-right: 20px;
    margin-top: 10px;
}

.badges-section .repos .name {
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #d9d9d9;
    margin-top: 16px;
    width: 200px;
}

.badges-section .repos .badge-list {
    float: left;
}

.badges-section .repos .badge-list li {
    float: left;
    margin-right: 10px;
}
