header .container {
    overflow: hidden;
}

header .toolbar {
    width: 100%;
    margin-top: 20px;
}

header .toolbar .container {
    text-align: right;
    font-size: 0;
}

header .toolbar a.logoff {
    display: inline-block;
    width: 67px;
    height: 16px;
    background: url('../img/signout.png') 0 0 no-repeat;
    text-align: left;
    text-indent: -99999px;
}

header .toolbar a.logoff:hover {
    background-position: 0 -20px;
}

header .toolbar a.my-profile {
    display: inline-block;
    width: 85px;
    height: 16px;
    background: url('../img/myprofile.png') 0 0 no-repeat;
    text-align: left;
    text-indent: -99999px;
    margin-right: 20px;
}

header .toolbar a.my-profile:hover {
    background-position: 0 -20px;
}

header .photo {
    float: left;
    margin: 30px 34px 0 0;
    margin-right: 34px;
}

header .photo img {
    width: 160px;
    height: 160px;

    border-radius: 3px;
}

header .profile-data {
    float: left;
    margin: 16px 40px 26px 0;
    width: 370px;
    padding: 14px 40px 14px 0;
    border-right: solid 1px #d9d9d9;
}

header .profile-data .user {
    overflow: hidden;
    height: 65px;
    padding-top: 16px;
}

header .profile-data .user .name {
    float: left;
    font-size: 62px;
    font-weight: bold;
    color: #0090bf;
}

header .profile-data .user a {
    display: none;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
    text-indent: -99999px;
    width: 44px;
    height: 44px;
    background: url('../img/favorite.png') 0 0 no-repeat;
}

header .profile-data .user a.active,
header .profile-data .user a:hover {
    background-position: 0 -50px;
}

header .profile-data .participation {
    padding-bottom: 16px;
    overflow: hidden;
    margin-top: 15px;
}

header .profile-data .participation .icon {
    float: left;
}

header .profile-data .participation .badges .icon {
    width: 51px;
    height: 51px;
    background: url('../img/badges.png') no-repeat;
    text-indent: -99999px;
}

header .profile-data .participation .data {
    float: left;
    margin-left: 12px;
    font-size: 50px;
    font-weight: bold;
    color: #575757;
}

header .profile-data .participation .repos .icon {
    background: url('../img/repos.png') no-repeat;
    width: 50px;
    height: 50px;
    margin-left: 38px;
    text-indent: -99999px;
}

header .commits {
    float: left;
    margin-top: 34px;
    width: 295px;
    text-align: center;
}

header .commits .number {
    font-size: 75px;
    font-weight: bold;
    color: #585858;
    margin-bottom: 10px;
}

header .commits .label {
    background: url('../img/processed_commits.png') 0 0 no-repeat;
    width: 148px;
    height: 45px;
    margin: 0 auto;
    text-indent: -99999px;
}

header .commits .changes {
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}

header .commits .changes .additions {
    color: #00a828;
}

header .commits .changes .removals {
    color: #c00000;
}

.badges-section {
    border-top: solid 2px #d9d9d9;
    background-color: #585858;
    border-bottom: solid 2px #d9d9d9;
    padding-bottom: 40px;
}

.badges-section .repos > li {
    overflow: hidden;
    margin-top: 40px;
}

.badges-section .repos .icon {
    float: left;
    background: url('../img/repo-badges.png') no-repeat;
    width: 31px;
    height: 31px;
    margin-right: 20px;
    margin-top: 10px;
}

.badges-section .repos .name {
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    width: 300px;
}

.badges-section .repos .name a {
    text-decoration: none;
    color: #d9d9d9;
}

.badges-section .repos .name a:hover {
    text-decoration: underline;
}

.badges-section .repos .badge-list {
    float: left;
}

.badges-section .repos .badge-list li {
    float: left;
    margin-right: 10px;
}

.badges-section .repos .add-repo form {
    margin-top: 12px;
}

.badges-section .repos .add-repo .repo-name {
    border: solid 1px #333;
    border-radius: 3px;
    width: 510px;
    height: 30px;
    padding: 0 10px;
    margin-left: -40px;
}

.badges-section .repos .add-repo .submit-button {
    width: 80px;
    height: 25px;
    margin-left: 10px;
    padding-top: 5px;
}

.more-info {
    overflow: hidden;
    margin-bottom: 30px;
    display:none;
}

.more-info .favorites {
    margin-top: 30px;
    width: 425px;
    height: 180px;
    border-right: solid 1px #d9d9d9;
    float: left;
}

.more-info .favorites .icon {
    text-indent: -99999px;
    width: 304px;
    height: 19px;
    background: url('../img/follows.png') no-repeat;
}

.more-info .favorites > ul {
    overflow: hidden;
    margin-top: 26px;
}

.more-info .favorites > ul > li {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 18px;
}

.more-info .favorites > ul > li:last-child {
    margin-right: 0;
}

.more-info .favorites .and-more {
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: #d9d9d9;
    margin-right: 50px;
    margin-top: 10px;
}

.more-info .invite {
    margin-top: 30px;
    margin-left: 40px;
    float: left;
}

.more-info .invite .icon {
    text-indent: -99999px;
    width: 218px;
    height: 18px;
    background: url('../img/invite.png') no-repeat;
}

.more-info .invite .emails {
    margin-top: 30px;
}

.more-info .invite .emails label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 11px;
}

.more-info .invite .emails .required {
    color: #cf232a;
}

.more-info .invite .emails .email-input {
    border-color: #C6C6C6 #DADADA #EAEAEA;
    background: #FAFAFA;
    color: #999;
    font-size: 1.4em;
    font-family: inherit;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;

    line-height: 13px;
    font-size: 12px;
    width: 376px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.more-info .invite .submit {
    margin-top: 10px;
    text-align: right;
}

.more-info .invite .submit input {
    font-size: 11px;
    font-weight: bold;
    color: #333;
}

.other-badgers {
    overflow: hidden;
    margin-bottom: 30px;
}

.other-badgers .container {
    border-top: solid 2px #d9d9d9;
}

.other-badgers .icon {
    background: url('../img/otherbadgers.png') no-repeat;
    width: 216px;
    height: 19px;
    text-indent: -99999px;
    margin: 20px 0;
}

.other-badgers ul {
    margin-left: 20px;
}

.other-badgers .other-badger {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.other-badgers .other-badger:nth-child(10n+10) {
    margin-right: 0px;
}

.other-badgers h3 {
    font-size: 16px;
    font-weight: bold;
    color: #dedede;
}

.login {
    height: 160px;
}

.login a {
    display: block;
    text-decoration: none;
    text-indent: -99999px;
    background: url('../../badger/img/login-button.png') 0 0 no-repeat;
    width: 308px;
    height: 114px;
    margin: 60px auto;
}

.login a:hover {
    background-position: 0 -243px;
}

.login a:active {
    background-position: 0 -123px;
}

.social .facebook {
    margin-bottom: 10px;
}
