{% extends "badger/master.html" %}
{% load static from staticfiles %}

{% block title %}start using now!{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'badger/css/landing.css' %}">
{% endblock %}

{% block header %}
    <a href="http://badger.timeho.me"><h1>badger - be awesome and get badges</h1></a>
    <h2>do you think people should be awarded badges just because they are awesome? so do we!</h2>
{% endblock %}

{% block contents %}
    <div class="stats">
        <div class="container">
            <div class="whos-using">
                <div class="table-layout">
                    <ul>
                        {% for profile in users %}
                            <li><a href="/profile/{{ profile.slug }}"><img src="{{ profile.thumb_url }}"></a></li>
                        {% endfor %}
                    </ul>
                    <div class="image"></div>
                </div>
            </div>
            <div class="numbers">
                <div class="registered">
                    <div class="data">{{ users_count }}</div>
                    <div class="image">people registered</div>
                </div>
                <div class="processed">
                    <div class="data">{{ repository_count }}</div>
                    <div class="image">repositories processed</div>
                </div>
            </div>
        </div>
    </div>

    <div class="login">
        <div class="container">
            <a href="/auth/login/github">login with your github account</a>
        </div>
    </div>
{% endblock %}
