{% extends "badger/master.html" %}
{% load static from staticfiles %}

{% block title %}start using now!{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'badger/css/landing.css' %}">
{% endblock %}

{% block header %}
    <a href="http://badger.timeho.me"><h1>badger - be awesome and get badges</h1></a>
    <h2>do you think people should be awarded badges just because they are awesome? so do we!</h2>
{% endblock %}

{% block contents %}
    <div class="stats">
        <div class="container">
            <div class="whos-using">
                <ul>
                    <li><a href="/user/1"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=80"></a></li>
                    <li><a href="/user/2"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=80"></a></li>
                    <li><a href="/user/3"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=80"></a></li>
                    <li><a href="/user/4"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=80"></a></li>
                    <li><a href="/user/5"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=80"></a></li>
                    <li><a href="/user/6"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=80"></a></li>
                    <li><a href="/user/7"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=80"></a></li>
                    <li><a href="/user/8"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=80"></a></li>
                    <li><a href="/user/9"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=80"></a></li>
                    <li><a href="/user/10"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=80"></a></li>
                    <li><a href="/user/11"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=80"></a></li>
                    <li><a href="/user/12"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=80"></a></li>
                </ul>
                <div class="image"></div>
            </div>
            <div class="numbers">
                <div class="registered">
                    <div class="data">12,034</div>
                    <div class="image">people registered</div>
                </div>
                <div class="processed">
                    <div class="data">832</div>
                    <div class="image">repositories processed</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
