{% load static from staticfiles %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>badger - be awesome and get badges{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'badger/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'badger/css/style.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        <div class="top-row"></div>
        {% block header %}
        {% endblock %}
    </header>
    {% block contents %}
    {% endblock %}

    <footer>
    <h4>badger was made by <a href="https://github.com/timehome">timehome</a>(<a href="http://github.com/heynemann" target="_blank">Bernardo Heynemann</a>, <a href="http://github.com/guilhermef" target="_blank">Guilherme Souza</a> and <a href="http://github.com/rafaelcaricio" target="_blank">Rafael Carício</a>) for the <a href="http://djangodash.com/">django dash 2012</a></h4>
        <h5>badger is registered under the <a href="http://en.wikipedia.org/wiki/MIT_License">MIT License</a> and is <a href="http://en.wikipedia.org/wiki/Free_and_open-source_software">FOSS</a></h5>
    </footer>

    <script type="text/javascript" src="{% static 'badger/js/jquery-1.8.0.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
